/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font: 1em Arial, sans-serif;
    color: rgb(84, 84, 84);
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    background-attachment: fixed;
}

/* Första elementets avstånd till sidans topp */
.main, .insp, .contact {
    margin-top: 100px;
}

h1 {
    font: 6em Georgia, serif;
    text-align: center;
    margin-bottom: 6%;
    color: rgb(107, 61, 105);
    letter-spacing: 1px;
}

h2 {
    font: 5em Georgia, serif;
    text-align: center;
    margin-bottom: 2%;
    color:rgb(107, 61, 105);
    letter-spacing: 1px;
}

h3 {
    font: bold 1.2em Georgia, serif;
    color:rgb(107, 61, 105);
}

.navlinks {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 1.6em;
}

.navlinks li {
    margin: 0 20px 0 20px;
    text-transform: uppercase;
    font-size: 0.7em;
}

.container {
    width: 70%;
    display: flex;
    margin: 5% auto;
}

.container > section {
    margin: 0 5%;
}

img {
    width: 100%;
}

.container > section:first-child {
    padding: 2em 1.1em 5em 1.1em;
    background-color: rgb(243, 239, 233);
    box-shadow: 5px 5px 15px #888888;
    height: 370px;
}

.textcontainer {
    width: 140%;
}

p {
    font-size: 0.9em;
    margin-top: 15px;
    line-height: 180%;
}

.navlinks > li > a:link {
    text-decoration: none;
    color: rgb(84, 84, 84);
    background-color: rgb(243, 239, 233);
    border: 1px solid rgb(67, 67, 67);
    padding: 8px;
}

.navlinks > li > a:visited {
    color: rgb(84, 84, 84);
}

.navlinks > li > a:hover {
    background-color: rgb(236, 227, 235);
}

.navlinks > li > a:active {
    color: rgb(84, 84, 84);
}

figure {
    font: italic .95em "Georgia", serif;
    width: 75%;
    border-bottom: 1px solid rgb(84, 84, 84);
    margin: -30px auto 30px;
}

blockquote {
    line-height: 200%;
    text-indent: 45px;
    margin: 0 auto;
    padding: 15px 50px;
    margin-top: -80px;
    border-top: 1px solid rgb(84, 84, 84);
}

.qmark {
    font-size: 8em;
    font-weight: 700;
    color: rgba(137, 84, 146, 0.247);
}

figcaption {
    width: 50%;
    margin: 0 0 2% 10%;
}

cite {
    font-weight: bold;
}

.insptext {
    width: 70%;
    margin: 0 auto;
}

.insptext > p {
    margin: 30px 0 30px 0;
}

.insp > nav > ul, .contact > nav > ul {
    margin-top: -10px;
    padding: 20px 0 20px 0;
    border-top: 1px solid rgb(84, 84, 84);
    border-bottom: 1px solid rgb(84, 84, 84);
}

.insptext > ul > li {
    width: 90%;
    list-style-type: circle; 
    line-height: 150%;
    font-size: 0.9em;
    margin: 10px 0 0 25px;
}

.insptext > ul > li > a:link {
    text-decoration: none;
    color: rgb(107, 61, 105);
}

.insptext > ul > li > a:visited {
    text-decoration: none;
    color: rgb(107, 61, 105);
}

.insptext > ul > li > a:hover {
    background-color:rgb(230, 225, 218);
    color: rgb(107, 61, 105);
    text-decoration: underline;
}

.insptext > ul > li > a:active {
    color:rgb(67, 67, 67);
    background-color: rgb(230, 225, 218);
    text-decoration: underline;
}

form {
    font-size: 0.9em;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

input, textarea {
    margin: .5% 0% 1.5% 0%;
    background-color: transparent;
    border: 1px solid rgb(115, 109, 116);
}

input:focus, textarea:focus {
    background-color: rgba(236, 226, 238, .8);
    outline: none;
    border-color: rgb(210, 195, 212);
    box-shadow: 2px 5px 5px rgb(206, 188, 209);
}

label::before, label::after {
    content: "\a";
    white-space: pre;
}

button {
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 0.75em;
    padding: 8px 12px;
    background-color: rgb(234, 222, 234);
    border: 1px solid rgb(84, 84, 84);
}